minecraft/*
instance.cfg
mmc-pack.json
modlist.html

!/minecraft/config*
!/minecraft/defaultconfigs*
!/minecraft/kubejs*
!/minecraft/config/emi.json
!/minecraft/config/icon.png
!/minecraft/mods/worldshaper*

minecraft/config/alexsmobs/*
minecraft/config/everycomp-hazardous.properties
minecraft/config/konkrete/locals
minecraft/config/jei*
minecraft/config/emi.css
minecraft/config/worldedit*
minecraft/config/ae2/client.json
minecraft/kubejs/server_scripts/example.js
minecraft/config/spark/activity.json
minecraft/kubejs/client_scripts/example.js
